/* Force a scrollbar to minimize auto-resizing in Mozilla-based browsers. */
html {
  min-height: 100%;
  margin-bottom: 1px;
}

body {
  background-color: #9BA7B4;
  margin-top: 0;
  margin-left: 25;
  margin-right: 0;
}

#xen_mainTableHome {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
  width: 98%;
}

#xen_mainTable {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: black;
  width: 98%;
  background: #ffffff; 
}

.mainTableTopCell{
  background-color: #9BA7B4;
  height: 10px;
}

/*rounded corners */
.corner_tl {background: url(images/corner_topleft.gif) 0 0 no-repeat; height: 9px; }
.corner_tr {background: url(images/corner_topright.gif) 100% 0 no-repeat; height: 9px; width: 9px;}
.corner_bl {background: url(images/corner_bottomleft.gif) 0 100% no-repeat; height: 9px;}
.corner_br {background: url(images/corner_bottomright.gif) 100% 100% no-repeat; height: 9px; width: 9px;}

#xen_logo {margin: 0px 9px 0px 10px}
.xen_tag {
	font-family:Verdana, Arial, Helvetica, sans-serif;=20
	font-size: 10px;
	color: #3573B9;
	font-weight: bold;
	margin-bottom: 15px;
}

/*utility navigation start */

#xen_navTopTable {
  width: 160px;
  height: 81px;
  }
#xen_navTop {
  font-size: 11px;
  font-weight: bold;
  color: #3573B9;
  padding: 0 24px 4px 14px;
  margin: 0;
  text-align: left;
  line-height:15px;
}
#xen_navTop  a:link { color: #3573B9; text-decoration: none; }
#xen_navTop  a:visited { color: #3573B9; text-decoration: none; }
#xen_navTop  a:active { color: #3573B9; text-decoration: none; }
#xen_navTop  a:hover   { color: #3573B9; text-decoration: underline; }

/*utility navigation end */

/*utility navigation start updated 3.30.07 */

#xen_navTopTable2 {
  width: 240px;
  height: 81px;
  }
#xen_navTop2 {
  font-size: 11px;
  font-weight: bold;
  color: #3573B9;
  padding: 8px 24px 4px 14px;
  margin: 0;
  text-align: left;
  line-height:15px;
}
#xen_navTop2  a:link { color: #3573B9; text-decoration: none; }
#xen_navTop2  a:visited { color: #3573B9; text-decoration: none; }
#xen_navTop2  a:active { color: #3573B9; text-decoration: none; }
#xen_navTop2  a:hover   { color: #3573B9; text-decoration: underline; }

/*utility navigation end */

/*primary navigation start */
#xen_navMainContainer {
  height:30px; padding: 0px 14px 0px 20px;
  }
#xen_navMainContainerRt {
  height:30px; width: 9px;
  }
#xen_navMain table {
  margin-right: 25px;
}


#xen_navMain td{
  width: 107px;
  height: 30px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  text-align:center;
  font-weight: bold;
  margin: 0;
  padding: 0;
  background-image: url(images/toptaboff.gif);
  background-repeat:no-repeat;
  background-position: bottom center;=20
}

#xen_navMain  a:link,
#xen_navMain  a:visited,
#xen_navMain  a:active { color: #1D3D62; text-decoration: none; }
#xen_navMain  a:hover  { color: #3573B9; text-decoration: none; }

#xen_navMain #xen_navMainOn {
  background-image: url(images/toptabon.gif);
}

#xen_navMainOn  a:link,
#xen_navMainOn  a:visited,
#xen_navMainOn  a:active { color: #000000; text-decoration: none; }
#xen_navMainOn  a:hover  { color: #3573B9; text-decoration: none; }

/* drop down menus */
.xenMenuOpacity {
   opacity: .85;
   filter: alpha(opacity=3D85);
   -moz-opacity: .85;
   text-decoration:none;
}


/*primary navigation end */

/*secondary navigation start */

#xen_navSecondRt {   height: 24px; width: 9px;  background-color: #8194A8;}


#xen_navSecond {
  height: 24px;
  background-color: #8194A8;
  padding: 0;
  margin: 0;
  font-weight: normal;
  color: #F3F6F8;
  text-decoration: none;
  text-align:right;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  vertical-align: middle;
}

#xen_navSecond a.xen_last {
  padding: 0px 20px 0px 0px;
}

#xen_navSecond  a:link { color: #F3F6F8; text-decoration: none;}
#xen_navSecond  a:visited { color: #F3F6F8; text-decoration: none;}
#xen_navSecond  a:active { color: #F3F6F8; text-decoration: none;}
#xen_navSecond  a:hover   { color: #F3F6F8; text-decoration: underline;}

/* assign this style to secondary links onpage */

#xen_navSecond a.navSecondOnpage:link { color: #000000; text-decoration: none; }
#xen_navSecond a.navSecondOnpage:visited { color: #000000; text-decoration: none; }
#xen_navSecond a.navSecondOnpage:active { color: #000000; text-decoration: none; }
#xen_navSecond a.navSecondOnpage:hover   { color: #000000; text-decoration: underline; }

#xen_navSecond a.navSecondOnpageLast:link { color: #000000; text-decoration : none; padding: 0px 20px 0px 0px;}
#xen_navSecond a.navSecondOnpageLast:visited { color: #000000; text-decoration: none; padding: 0px 20px 0px 0px;}
#xen_navSecond a.navSecondOnpageLast:active { color: #000000; text-decoration: none; padding: 0px 20px 0px 0px;}
#xen_navSecond a.navSecondOnpageLast:hover   { color: #000000; text-decoration: underline; padding: 0px 20px 0px 0px;}

h1 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #1D3D62;
  font-size:17px;
  margin-top: 0px;
  margin-bottom: -4px;
  }

h2 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #3573B9;
  font-size:13px;
  }
 =20
h2  a:link {  color: #3573B9; text-decoration: underline; }
h2  a:visited { color:  #3573B9; text-decoration: underline; }
h2  a:active { color:  #3573B9; text-decoration: underline; }
h2 a:hover   { color:  #3573B9; text-decoration: underline; }

.headerText {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #3573B9;
  font-size:13px;
  }
.headerText  a:link {  color: #3573B9; text-decoration: underline; }
.headerText  a:visited { color:  #3573B9; text-decoration: underline; }
.headerText  a:active { color:  #3573B9; text-decoration: underline; }
.headerText  a:hover   { color:  #3573B9; text-decoration: underline; }

#xen_content p.headerText {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #3573B9;
  font-size:13px;
  }

#xen_content p a.headerText {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #3573B9;
  font-size:13px;
  }
 #xen_content p a.headerText:link {  color: #3573B9; text-decoration: underline; }
#xen_content p a.headerText:visited { color:  #3573B9; text-decoration: underline; }
#xen_content p a.headerText:active { color:  #3573B9; text-decoration: underline; }
#xen_content p a.headerText:hover   { color:  #3573B9; text-decoration: underline; }

#xen_content h1 {
  font-size: 17px;
  margin-top: 0px;
}

#xen_content h2 {
  font-size: 16px;
}

#xen_content h3 {
  font-size: 14px;
}



.subheaderText {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #333333;
  font-size:12px;
  }

p.subheaderText {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #333333;
  font-size:12px;
  }

/* begin unique for xs main */
.xen_navThird {
  font-size: 12px;
  font-weight: normal;
  color: black;
  padding: 0 20px 4px 14px;
  margin: 0;
  text-align: right;
  height: 20px;
  white-space:nowrap;
}
.xen_navThird  a:link { color: #8194A8; text-decoration: underline; }
.xen_navThird  a:visited { color: #8194A8; text-decoration: underline; }
.xen_navThird  a:active { color: #000000; text-decoration: underline; }
.xen_navThird  a:hover   { color: #000000; text-decoration: underline; }

.xen_navThird a.xen_navThirdOn:link { color: #FF0000; text-decoration: underline;  font-weight: bold;}
.xen_navThird a.xen_navThirdOn:visited { color: #FF0000;  text-decoration: underline;   font-weight: bold;}
.xen_navThird a.xen_navThirdOn:active { color: #FF0000;  text-decoration: underline;   font-weight: bold;}
.xen_navThird a.xen_navThirdOn:hover   { color: #FF0000;  text-decoration: underline;  font-weight: bold;}

/* end unique */

#xen_content {padding: 4px 18px 0px 18px;}

td#xen_content {
	 padding: 7px 5px 10px 27px;
}

#xen_content, #xen_content table, #xen_content p {
  font-size: 12px;
  color: #333333;
  line-height: 16px;
}

#xen_content a:link { color: #000000; }
#xen_content a:visited { color: #666666; }
#xen_content a:active { color: #3573B9; }
#xen_content a:hover   { color: #3573B9; }

/*Blue Right Table Callout */

.rtCalloutHeader {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color: #C87E0A;
  font-size: 12px;
  font-weight: bold;
}

.rtCalloutHeader a:link { color: #C87E0A; text-decoration: underline;}
.rtCalloutHeader a:visited { color: #C87E0A; text-decoration: underline;}
.rtCalloutHeader a:active { color: #C87E0A; text-decoration: underline;}
.rtCalloutHeader a:hover   { color: #ffffff; text-decoration: underline;}

/*
.rtCalloutHeader {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color: #C87E0A;
  font-size: 12px;
  font-weight: bold;
}*/


table.rtCallout  {margin: 30px 0px 10px 10px; float:right; width: 193px; }
.rtCallout td {margin: 0px; padding: 0px; }
.rtCallout_tl {background: url(images/callout_corner_topleft.gif)
 0 0 no-repeat; height: 23px; }
.rtCallout_tr {background: url(images/callout_corner_topright.gif)
 100% 0 no-repeat; height: 23px; width: 9px;}
.rtCallout_bl {background: url(images/callout_corner_bottomleft.gif) 0 100% no-repeat; height: 23px;}
.rtCallout_br {background: url(images/callout_corner_bottomright.gif) 100% 100% no-repeat; height: 23px; width: 9px;}
.rtCallout_tc {border-top: 1px solid #E2BC7F; height: 23px;}
.rtCallout_lc {border-left: 1px solid #E2BC7F; width: 9px;}
.rtCallout_bc {border-bottom: 1px solid #E2BC7F; height: 23px;}
.rtCallout_rc {border-right: 1px solid #E2BC7F; width: 9px;}

/*wider callout box */
table.rtCallout250  {margin: 30px 0px 10px 10px; width: 250px; float: right=
;}
.rtCallout250 td {margin: 0px; padding: 0px; }

/*spotlight callout box */
table.rtCallout600  {margin: 30px 0px 10px 10px; width: 600px;}
.rtCallout600 td {margin: 0px; padding: 0px; }

/*right aligned */
table.rtCallout600right  {margin: 30px 0px 10px 10px; width: 600px; float:=
 right;}
.rtCallout600right td {margin: 0px; padding: 0px; }
.rtCallout600right td table tr td {margin: 0px; padding: 0px; }

/*larger spotlight callout box */
table.rtCallout800  {margin: 30px 0px 10px 10px; width: 800px;}
.rtCallout800 td {margin: 0px; padding: 0px; }

/* product page bullet styles */

.xen_Blue_Bullets {
	margin: 4px 0px 0px 0px;
	list-style: none;
	padding-left: 8px;
    padding-top: 0px;
}

.xen_Blue_Bullets li {
	background-image: url(images/carrot_blue.gif);
	background-repeat: no-repeat;
	padding: 0px 0px 4px 14px;
	color: #0E3F5E;
	font-size: 13px;
	font-weight:bold;
}



/*unique for xs main */

#xen_content_NO_right{
margin-top: 10px;
}

#xen_content_right{
margin-right: 130px;
margin-top: 10px;
}

.xen_content_right_nested{
margin-right: 130px;
}

.xen_error {
    text-align: center;
    color: red;
    font-weight: bold;
}

.xen_red {
    color: red;
    font-weight: bold;
}

.portalcontent {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 100;
	color: #666666; 
	line-height: 18px;
	 padding: 10px 0px 10px 0px; }
.portalcontent a:link { color: #666666; text-decoration: underline; }
.portalcontent a:visited { color: #666666; text-decoration: underline;}
.portalcontent a:active { color: #6A8176; text-decoration: underline;}
.portalcontent a:hover { color: #6A8176; text-decoration: underline;}

.content {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 100;
	color: #666666; 
	line-height: 18px;
 	padding: 10px 150px 10px 0px; }
.content a:link { color: #666666; text-decoration: underline; }
.content a:visited { color: #666666; text-decoration: underline;}
.content a:active { color: #6A8176; text-decoration: underline;}
.content a:hover { color: #6A8176; text-decoration: underline;}

.contentBold {color: #3573B9; font-weight: bold;}
.contentBold a:link { color: #3573B9; text-decoration: underline; }
.contentBold a:visited { color: #3573B9; text-decoration: underline;}
.contentBold a:active { color: #6A8176; text-decoration: underline;}
.contentBold a:hover { color: #6A8176; text-decoration: underline;}

.contentLarge {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #666666;  line-height: 20px; }
.contentLarge a:link { color: #666666; text-decoration: none; }
.contentLarge a:visited { color: #666666; text-decoration: none;}
.contentLarge a:active { color: #6A8176; text-decoration: none;}
.contentLarge a:hover { color: #6A8176; text-decoration: underline;}

.content14pxlg {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 100; color: #666666;  line-height: 20px; }
.content14pxlg a:link { color: #666666; text-decoration: none; }
.content14pxlg a:visited { color: #666666; text-decoration: none;}
.content14pxlg a:active { color: #6A8176; text-decoration: none;}
.content14pxlg a:hover { color: #6A8176; text-decoration: underline;}

.contentExtraLarge {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; font-weight: normal; color: #666666;  line-height: 24px;}

.contentSmall {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: 100; color: #666666;  line-height: 18px; }


#CalloutTablePadding
{  padding: 10px 0px 0px 0px;}

#xen_Callout {
  width: 316px;
  margin: 0;
  background-image: url(images/callout_main.gif);
  background-color: #FFFF99;
  background-position: top center;
  background-repeat: no-repeat;
}
#xen_CalloutPadding {  padding: 35px 55px 20px 55px;}

#xen_calloutBottom {
  Padding: 0;
  margin: 0;
  width: 316px;
  height: 5px;
  background-color: #FFFF99;
}

#xen_Callout_Readme {
  margin: 0;
  background-color: #FFFFFF;
  background-position: top center;
  background-repeat: no-repeat;
  border: 1px solid #6484A4;
}

#xen_Callout_ReadmePadding {  padding: 20px 20px 20px 20px;}

#xen_callout_ReadmeBottom {
  Padding: 0;
  margin: 0;
  height: 5px;
  background-color: #FFFFFF;
}

.calloutBold {  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px; color: #5E5A59; line-height: 22px;
  font-weight: bold;
  text-align: left;
}
.calloutBold  a:link,
.calloutBold  a:visited {color: #5E5A59; text-decoration:underline;}
.calloutBold  a:active { color: #6A8176; text-decoration:underline;}
.calloutBold  a:hover  { color: #6A8176; text-decoration:underline;}

.calloutReg {  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px; color: #5E5A59; line-height: 22px;
  font-weight: normal;
  text-align: left;
}
.calloutReg  a:link,
.calloutReg  a:visited {color: #5E5A59; text-decoration:underline;}
.calloutReg  a:active { color: #6A8176; text-decoration:underline;}
.calloutReg  a:hover  { color: #6A8176; text-decoration:underline;}

.calloutItalic {  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px; color: #5E5A59; line-height: 22px;
  font-weight: normal;
  font-style:italic;
  text-align: left;
}
.calloutItalic  a:link,
.calloutItalic  a:visited {color: #5E5A59; text-decoration:underline;}
.calloutItalic  a:active { color: #6A8176; text-decoration:underline;}
.calloutItalic  a:hover  { color: #6A8176; text-decoration:underline;}

/* Table used for events items */
#eventstable {border-top: 1px solid #8194A8; border-style: dotted; border-bottom: 0px; border-right: 0px; border-left: 0px; font-family: Verdana, Arial, Verdana,  Helvetica, sans-serif;font-size: 12px;color: #666666; vertical-align:top; width: 475px; margin: 0px; padding: 0px;}
#eventstable td {border-bottom: 1px solid #8194A8; border-left: 0px; border-right: 0px; border-top: 0px; padding:7px 5px 7px 5px; border-style: dotted ; vertical-align:top; margin: 0px;}


/* Table used for news items */
#newstable {border-top: 1px solid #8194A8; border-style: dotted; border-bot tom: 0px; border-right: 0px; border-left: 0px; font-family: Verdana, Arial, Verdana,  Helvetica, sans-serif;font-size: 12px;color: #666666; vertical-align:top; width: 475px; margin: 0px; padding: 0px;}
#newstable td {border-bottom: 1px solid #8194A8; border-left: 0px; border-right: 0px; border-top: 0px; padding:7px 5px 7px 5px; border-style: dotted; vertical-align:top; }

/* Table used for services dashboard items */
.servicesdashboard {border: 1px solid #8194A8; border-collapse: collapse; font-family: Verdana, Arial, Verdana,  Helvetica, sans-serif;
font-size: 11px;color: #666666;
vertical-align:top; 
margin: 0px;
padding: 0px;}
.servicesdashboard td {border: 1px solid #6484A4; padding:7px 5px 7px 5px; vertical-align:top; }


/* Table used for services news items */
.servicestable {border-top: 1px solid #6484A4; border-style: dotted; border-bottom: 0px; border-right: 0px; border-left: 0px;
font-family: Verdana, Arial, Verdana,  Helvetica, sans-serif;font-size: 11px;color: #666666; vertical-align:top;  margin: 0px; padding: 0px;}
.servicestable td {border-bottom: 1px solid #6484A4; border-left: 0px; border-right: 0px; border-top: 0px; padding:7px 5px 7px 5px; border-style: dotted; vertical-align:top; }

/* Table used for partners listings */
.partnerlisttable {border-top: 1px solid #8194A8; border-style: dotted; border-bottom: 0px; border-right: 0px; border-left: 0px;
font-family: Verdana, Arial, Verdana,  Helvetica, sans-serif;font-size: 11px;color: #666666; vertical-align:top; width: 95%; margin: 0px; padding: 0px;}
.partnerlisttable td {border-bottom: 1px solid #8194A8; border-left: 0px;border-right: 0px; border-top: 0px; padding:7px 5px 7px 5px; border-style:dotted; vertical-align:top; }



/* Table used for partners form */
.partnertable {border-top: 1px solid #8194A8; border-style: dotted; border-bottom: 0px; border-right: 0px; border-left: 0px;
font-family: Verdana, Arial, Verdana,  Helvetica, sans-serif;font-size: 11px;color: #666666; vertical-align:top; width: 575px; margin: 0px; padding:0px;}
.partnertable td {border-bottom: 1px solid #8194A8; border-left: 0px; border-right: 0px; border-top: 0px; padding:7px 5px 7px 5px; border-style: dotted; vertical-align:top; }

.partnertable input, .partnertable input.btn, .partnertable select, .partnertable textarea {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #D4D0C8;
	width: 175px;
}

select.partnertableElement {
	border: 1px solid #D4D0C8;
}

.partnertableNone input, .partnertableNone select, .partnertableNone textarea  {
	border: 0px solid #ffffff;
	width: 15px;
}

td.partnertablelast {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	border: 0px solid #ffffff;
		width: 95px;
}

/* end unique */


#xen_footerTable {
  padding-bottom: 28px;
  width: 100%;
}
#xen_footerTable table { width: 100%; }

.xen_colorLine {
  background-color: #6484A4;
  height: 4px;
}

.copyright {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
  text-align:center;
  font-weight: normal;
  color: #505256;
  padding: 10px 0px 10px 0px;
}
/* was:  padding: 1.5em 0; */

.copyright a:link,
.copyright a:visited { color: #505256; text-decoration: underline; }
.copyright a:active,
.copyright a:hover   { color: #505256; text-decoration: underline; }

.xen_bottomLine {
  height: 1px;
  background-image: url(images/footer_dots.gif);
}


/*-----------------STUFF NOT USING - MAKE SURE YOU DON'T NEED IT FOR THE OT=
HER APS PLEASE ----------*/
#xen_headerTable { width: 100%; }

/* Override styles from applications. */
#xen_headerContainer td,
#xen_headerContainer tr { border: none; }

#xen_headerContainer, #xen_content, #xen_footerTable {
  padding: 4px 18px 0px 18px;
}



.xen_blackLine, .xen_blackLine td {
   background-color: black;
   height: 1px;
   padding: 0;
   margin: 0;
}

.xen_thickLine { height: 4px; }

#xen_logoContainer {
  padding-left: 40px;
}


#leftnavbox {
	float: left;
	background-color: #F8F8F9;
	width: 170px;
	padding: 10px;
	border: 1px solid #9BA7B4;
}


/* end old stuff */

